<%= raw "<h1>User's list</h1>" %>
<%= raw "<p>Here will go the user's list</p>" %>
<ul>
  <li class="user-cont">
    <img src="" alt="User" title="User">
    <div>
      <h2>User name 1</h2>
      <h3>Number of posts: X</h3>   
    </div>
  </li>
  <li class="user-cont">
    <img src="" alt="User" title="User">
    <div>
      <h2>User name 2</h2>
      <h3>Number of posts: Y</h3>   
    </div>
  </li>
  <li class="user-cont">
    <img src="" alt="User" title="User">
    <div>
      <h2>User name 3</h2>
      <h3>Number of posts: Z</h3>   
    </div>
  </li>
</ul>

