<h1 class="main-title">Users list</h1>
<ul>
  <% @users.each do |user| %>
    <%= link_to user_path(user.id), class: "user-link" do %>
      <li class="user-cont">
        <%= render user %> <%# "render "users/user", user: user" is a longer way %>
      </li>
    <% end %>
  <% end %>
</ul>
