<header>
  <div class="user-cont">
    <img src="" alt="User" title="User">
    <div>
      <h2>User name</h2>
      <h3>Number of posts: X</h3>   
    </div>
  </div>
</header>
<main>
  <section id="bio">
    <h4>Bio</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor, turpis
      ac venenatis elementum, purus arcu fermentum orci, porta ultrices diam ex ut turpis.
      Vestibulum in elit sed est vehicula hendrerit. Nullam sit amet suscipit ante. Sed in
      accumsan lacus.
    </p>
  </section>
  <ul>
    <li>
      <%= raw "<h4>Post #1</h4>" %>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elite. Ut tempor, turpis...
      </p>
      <p>
        <span>Comments: x,</span>
        <span>Likes: y</span>
      </p>
    </li>
    <li>
      <%= raw "<h4>Post #2</h4>" %>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elite. Ut tempor, turpis...
      </p>
      <p>
        <span>Comments: x,</span>
        <span>Likes: y</span>
      </p>
    </li>
    <li>
      <%= raw "<h4>Post #3</h4>" %>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elite. Ut tempor, turpis...
      </p>
      <p>
        <span>Comments: x,</span>
        <span>Likes: y</span>
      </p>
    </li>
  </ul>
  <button type="button">See all posts</button>
</main>