<header>
  <nav>
    <ul class="nav-bar">
      <%= link_to root_path do %>
        <button class="btn" type="button">Home</button>
      <% end %>
      <%= link_to new_post_path do %>
        <button class="btn" type="button">Create a Post</button>
      <% end %>
    </ul>
  </nav>
</header>